---
import Hero from "../components/hero.astro";
import Quote from "../components/quote.astro";
import Projects from "../components/projects.astro";
import Skills from "../components/skills.astro";
import About from "../components/about.astro";
import Contact from "../components/contact.astro";
import Layout from "../layouts/main-layout.astro";
---

<Layout>
  <main
    class="relative bg-background px-6 text-white lg:flex lg:flex-col lg:items-center lg:px-44"
  >
    <Hero />
    <Quote />
    <Projects />
    <Skills />
    <About />
    <Contact />
  </main>
</Layout>
