---
import {Image} from "astro:assets"
import GithubIcon from "../../public/Github.svg"
import TwitterIcon from "../../public/Twitter.svg"
import LinkedinIcon from "../../public/Linkedin.svg"
---

<aside class="hidden fixed left-6 top-0 sm:flex flex-col items-center h-full">
    <span class="w-[1px] h-48 bg-gray"></span>
    <a class="w-8 mt-2" target="_blank" href="https://www.linkedin.com/in/simon-villalon">
        <Image loading="eager" src={LinkedinIcon} alt="linkedin icon LinkedinIcon"></Image>
    </a>
    <a class="w-8 mt-2"  target="_blank" href="https://github.com/SimonVillalonIT">
        <Image loading="eager" src={GithubIcon} alt="Github icon GithubIcon"></Image>
    </a>
    <a class="w-8 mt-2 mb-2" target="_blank" href="https://twitter.com/simonvillalon4">
        <Image loading="eager" src={TwitterIcon} alt="Twitter icon TwitterIcon"></Image>
    </a>
    <span class="w-[1px] h-full bg-gray"></span>
</aside>
