<section class="flex flex-col items-center justify-center w-fit">
    <fieldset class="border border-gray text-base font-medium h-fit">
        <legend class="ml-2 pt-8 text-6xl text-gray">&ldquo;</legend>
        <h3 class="p-5 -mt-12">El éxito es ir de fracaso en fracaso sin perder el entusiasmo</h3>
    </fieldset>
    <div class="border-b border-r border-l border-gray p-2 self-end text-sm"><h4>Winston Churchill</h4></div>
</section>
