@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 7px;
}

html::-webkit-scrollbar-track {
  background: #d3dce6;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb {
  background: #242d34;
  border-radius: 14px;
  border: 3px solid #242d34;
}

.dark::-webkit-scrollbar {
  width: 7px;
}

.dark::-webkit-scrollbar-track {
  background: #8492a6;
  border-radius: 5px;
}

.dark::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 14px;
  border: 3px solid white;
}

.typing {
  animation: typing 2s steps(18), blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

